@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-albertSans: "Albert Sans", sans-serif;

  --color-lightCyan: #CCE4E2;
  --color-darkCyan: #7DC7C0;
  --color-thisle: #C19CCE;
  --color-palePurple: #E9D4F1;
  --color-night: #0C0C0C;
  --color-silver: #B3B3B3;
  --color-antiFlashWhite: #ECEDEF;
  --color-whiteSmoke: #FAFAFA;
  --color-emerald: #51B366;
}

* {
  font-family: var(--font-albertSans);
}

body {
  background: var(--color-antiFlashWhite);
}

.scrollbar-color::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

.scrollbar-color::-webkit-scrollbar-thumb {
  background-color: #b3b3b3aa;
  border-radius: 10px;
}

.scrollbar-color::-webkit-scrollbar-thumb:hover {
  background-color: #b3b3b3;
}

.scrollbar-color::-webkit-scrollbar-track {
  background-color: transparent;
}